:root,
[data-bs-theme=light] {
  --bs-blue:#485BBC;
  ;
}
body {
    font-family: Helvetica;
}

.img-logo {
    width: 42px;
}

p.koszahra {
    font-weight: 600;
    text-align: center;
    padding: inherit;
    margin-top: 10px;
    font-size: larger;
}

header {
    border-bottom: 2px solid;
    border-color: #999999;

}
button.btn.btn-login{
    background-color: #485BBC;
    color: white;
}

section.hero {
    background-color: #F5FCFF;
}
img.hero-photo {
       width: 40%;
       margin-left: 300px;
}

p{
    font-family: Helvetica;
}

p.hero {
    font-size: 30px;
    margin-top: 160px;
    margin-bottom: 40px;

}
span.zahra {
    font-size: 39px;
    color: #485BBC;
}
.item {
    background-color:#F5FCFF;
    width: 250px;
    margin-right: 10px;
   
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.owl-nav {
    text-align: center;
}

.img-carousel {
    width: 50px;
}



@media only screen and (max-width: 500px) {
    img.hero-photo {
        margin-right: 30px;
    }
  }
